<!DOCTYPE HTML>
<html lang="ru">
  <head>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/auth.css">
  <meta charset="utf-8"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  

  <header>
    <div class="container">
      <div class="logo_brand">
        <img class="logo" src="../media/img/logo.svg"></img>
        <a class="brand" href="">ГБУ.Недвижимость</a>
      </div>
    </div>
  </header>

  <section>
    <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form name="forma">
        <input class="mosru_input" type="text"  name="mosru" required = "required" placeholder="Войти с помощью mos.ru">
      </div>
    </div>  
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
          <div class="line"></div>
        </div>

      </div>
    </div>

    <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form name="forma">
        <input class="email_input" type="text"  name="email" required = "required" placeholder="Email">
      </div>
    </div>  
    </div>

    <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form name="forma">
        <input class="password_input" type="password"  name="pass" required = "required" placeholder="Пароль">
      </div>
    </div>  
    </div>
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div class="d-flex bd-highlight mb-2">
            <div class="me-auto p-2 bd-highlight">
              <input type="checkbox" value="" id="checkbox">
              <label class="form-check-label" for="checkbox">
              Запомни меня
              </label>
            </div>
            <div class="p-2 bd-highlight" style="margin-top: 18px;">
              <a class="forget_password" href="" >Забыли Пароль?</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <div class="d-flex justify-content-center">
            <button class="sigh_in">Войти</button></div>
        </div>  
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <div class="d-flex justify-content-center">
            <a href=""><p class="sigh_up">Нет аккаунта?<span> Зарегистрируйтесь</span></p></a>
          </div>
        </div>  
      </div>
    </div>

  </section>

  <section style="height:200px"></section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="..static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
