<!DOCTYPE HTML>
<html lang="ru">
  <head>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/map.css">
  <meta charset="utf-8"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
      <nav class="navbar navbar-expand-xl" aria-label="mainNavbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class = "logo" href="">
              <img src="../img/logo2.svg" class="d-inline-block align-text-center">
              ГБУ.Недвижимость</a>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 bd-highlight">
              <button class="map">
                Карта
                <img src="../img/map.svg">
              </button>
            </div>
            <div class="p-2 bd-highlight">
              <button class="chart">
                Оценка квартир
                <img src="../img/chart.svg">
              </button>
            </div>
            <div class="p-2 bd-highlight">
              <button class="user">
                Личный кабинет
                <img src="../img/user.svg">
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="my_container">
        <div class="d-flex flex-row">
          <div class="p-2">
            <div class="left_navigation">

            </div>
          </div>
          <div class="p-2 flex-grow-1 bd-highlight">
          <div class="ya_map" id="myMap">
            <script src="https://api-maps.yandex.ru/2.1/?apikey=dd9e4a35-e52d-4224-9e27-9129905e173d&lang=ru_RU">
            </script>
              <script>
              let center = [55.75211, 37.62209];

              function init() {
                  let map = new ymaps.Map('myMap', {
                      center: center,
                      zoom: 14
                  });

                map.controls.remove('geolocationControl'); // удаляем геолокацию
                map.controls.remove('searchControl'); // удаляем поиск
                map.controls.remove('trafficControl'); // удаляем контроль трафика
                map.controls.remove('fullscreenControl'); // удаляем кнопку перехода в полноэкранный режим
                map.controls.add("zoomControl", {float: 'right'});
              }

              ymaps.ready(init);
            </script>
          </div>   
          </div>
        </div>
      </div> 
    </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
  </html>
